
@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid; 

@import 'layout';
@import 'table';
@import 'chooseVehicle';
@import 'status';


.hide {
    display: none;
}

.highlight {
    background-color: yellow;
}

.passenger {
    background-color: red;
}
.destination {
    background-color: green;
}